<pre>
gabsc
=====
You might be surprised by the simple, plain-text page in front of you.  Do
not worry, I am not a psychopath, I simply believe the web should be
simple.

In this domain, you shall find some of my notes, writings and photography.

Fact: if every website was as simple as this one, everything on the
internet would be safer and faster.  Also, capitalism would have a less
destructive effect on our social and emotional health, for we would not be
fuelling the so called "social" technology industry.

Everything published by me is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
See license <a href="https://codeberg.org/gabsc/pages/src/branch/main/LICENSE">here</a>.

* BLOG
  - My attachment with humanity ------- <a href="https://gabsc.codeberg.page/b/20220315-my-attachment-with-humanity.html">01</a>
  - Love is the answer ---------------- <a href="https://gabsc.codeberg.page/b/20220316-love-is-the-answer.html">02</a>
  - O pássaro Woolf ------------------- <a href="https://gabsc.codeberg.page/b/20220511-o-passaro-woolf.html">03</a>

* PHOTOGRAPHY
  - <a href="https://gabsc.codeberg.page/p/origin-and-tradition.html">Origin & tradition</a>

* CONTACT
  Email: gabsc@pissmail.com
  Codeberg: https://codeberg.org/gabsc
  GPG:
    - Fingerprint: 30752254D6E6E739F63F6457FEBE54776D40559A
    - Download <a href="https://codeberg.org/gabsc/pages/src/branch/main/gabsc.key">here</a> or run:
      $ curl -sL https://codeberg.org/gabsc/pages/raw/branch/main/gabsc.key | gpg --import
    - All legitimate emails from me will be signed with my GPG key.

=== end ===
<3
