<pre>
Origin & tradition
==================
I was always fascinated by photography.  In my childhood, I was lucky
enough to to live in Switzerland with my family.  It meant we would travel
all the time throughout Europe.  I have been to many places and always
felt the desire to capture special moments.

Yet, the following image represents the first time I wanted to live my
life photographing:

<img src="origin.jpg" width="480" height="480">

Since then, every time I went back to the location, I shot the same frame.

<img src="tradition1.jpg" width="480" height="480">

<img src="tradition2.jpg" width="480" height="480">
